*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.login-container , div{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 33, 33);
   

      form{

        height: fit-content;
        padding: 2rem;
        background-color:whitesmoke ;
        display: flex;
        align-items: center;
        flex-direction: column;
         gap: 1rem;

        input{
            font-size: 1.2rem;
            outline: none;
            border: 1px solid black;
            border-radius: 0.3rem;
            padding: 1rem;


        }

        button{
            background-color: rgb(175, 26, 26);
            padding: 0.4rem 0.8rem;
            border: none;
            border-radius: 0.2rem;
            font-size: 1.4rem;
            color: whitesmoke;
        }

      }
}