*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background: #161616;
}

.wrap{
    position :absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    /* background-color: wheat; */
}

#ball{
    width: 60px;
    height: 60px;
    background:none;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute ;
    left: 50%;
    top: 50%;
    /* margin: -10px 0 0 -10px; */
    transform: translate(-50% , -50%);
    pointer-events: none;
}